
.findmeat {
    display: flex;
    align-items: top;
    justify-content: space-around;
    max-width: 30%;
    margin-top: 14rem;
    margin-left: auto;
    margin-right: auto;

    .item {
        p {
            width: 6rem;
            font-size: clamp(0.5rem, 3vw, 1rem);
            opacity: 0;
            transition: opacity 300ms ease-in-out;
        }
        img{
            width: clamp(1.5rem, 4vw, 4rem);
            transition: transform $scalingSpeed ease-in-out;
        }
        img:hover {
            transform: scale(1.1) ;
        }

        &:hover {
            p{
                opacity:1;
            }
        }
    }
}