
.title {
    margin-top: 10rem;
    h1{
        font-size: clamp(1.2rem, 5vw , 5rem);
        font-family: 'Source Code Pro',monospace;
        color: $lightGreen;
        position: relative;
        display: inline-block;
        margin-bottom: 2rem;
    }
    h1::before, h1::after {
        content: '';
        top:0;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
    }
    h1::before {
        background: $darkNord;
        animation: typewriter $typewriterSpeed steps($typewriterChars) 1s forwards;
    }
    h1::after {
        width: .08em;
        background: $snowStormMedium;
        opacity: 0.6;
        animation: 
            typewriter $typewriterSpeed steps($typewriterChars) 1s forwards,
            blink 500ms steps($typewriterChars) infinite;
    }
    @keyframes typewriter {
        to {
            left: 100%;;
        }
    }
    @keyframes blink {
        to {
            background: transparent;
        }
        
    }

    p {
        color: white;
        font-family: 'Source Sans Pro';
        font-weight: 200;
        font-size: 2rem;
        margin: 0;
        opacity: 0;
        transform: translateY(3rem);
        animation: fadeInUp 2s ease $typewriterSubtitleDelay forwards;
    }
    @keyframes fadeInUp {
        to{
            opacity: 1;
            transform: translateY(0);
        }
    }
}