$darkNord: #2E3440;
$mediumNord: #3B4252;
$lightGreen: #8FBCBB;
$snowStormMedium: #E5E9F0;

$scalingSpeed: 100ms;

$typewriterSpeed: 6s;
$typewriterChars: 22;
$typewriterSubtitleDelay: 8s; //has to be $typeWriterSpeed + some delay
