@font-face {
    font-family: 'Source Code Pro';
    src: url('./fonts/SourceCodePro-Regular.ttf');
}
@font-face {
    font-family: 'Source Sans Pro';
    font-weight: 200;
    src: url('./fonts/SourceSansPro-Light.ttf');
}

@import "variables";
@import "globals";
@import "navbar";
@import "title";
@import "findmeat";
